@import "../../scss/style.scss";
.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 45px;
    width: 80%;
    min-width: 1200px;
    margin: 30px auto;
}
.products-element {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 25px 20px;
    background-color: $color_white;
    box-shadow: 0 16px 24px 2px rgba(33, 37, 41, 0.02), 0 6px 30px 5px rgba(33, 37, 41, 0.04),
        0 8px 10px -5px rgba(33, 37, 41, 0.1);
    border-radius: 3px;
}
.products-element__name {
    margin-bottom: auto;
    font-weight: bold;
}

.products-element__img {
    width: 100%;
    height: 270px;
    object-fit: contain;
    margin-top: 15px;
}

.products-element__price {
    margin-top: 15px;
    color: #808080;
}

.products-element__btn {
    margin-top: 15px;
    padding: 10px 15px;
    border: 1px solid #808080;
    border-radius: 3px;
    outline: none;
    background: none;
    cursor: pointer;
}

.products-element__btn_active {
    background: linear-gradient(to right, #e2f87c, #d6f567, #c8f151, #b9ee38, #a8eb12);
    border: 1px solid transparent;
}
