* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  width: 1200px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  overflow: hidden; }

.block {
  width: 700px;
  margin: 0 auto;
  overflow: hidden; }

.image {
  position: relative;
  height: 400px;
  -webkit-transition-duration: 3s;
  -o-transition-duration: 3s;
  transition-duration: 3s; }

p {
  position: absolute;
  width: inherit;
  top: -18px;
  padding: 5px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 18px;
  background-color: rgba(20, 0, 136, 0.26);
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s; }

.block:hover p {
  top: 0px; }

.block:hover .image {
  -webkit-transition-duration: 3s;
  -o-transition-duration: 3s;
  transition-duration: 3s;
  -webkit-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  transform: translateX(-200px); }
