* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
// .container {
//     height: 100%;
//     margin: 0 auto;
// }
// .menu {
//     position: relative;
// }
.menu__bcg {
    height: 100vh;
    background-image: url(first.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: opacity 400ms, transform 400ms;
}
.menu__aside {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 150px;
    transition: all 400ms ease 0s;
    background-color: hotpink;
    z-index: 1;

    // & .nav {
    //     height: inherit;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-evenly;
    //     align-items: center;
    // }
    & li {
        list-style-type: none;

        padding: 25px;
    }
    & a {
        text-decoration: none;
        display: none;
    }

    &:hover {
        width: 650px;
    }
}
.menu__aside-bcg {
    
    
    
    // transition: all 1s ease 0s;
    
}
svg {
    width: 100px;
    height: 100px;
    fill: #ffffff;
}
.menu__aside:hover + .menu__bcg {
    background-color: #000000;
    opacity: 0.5;
    transform: translateX(650px);
    max-width: 100%;
    // z-index: 10000;
    
}
// .menu__aside:hover .menu__aside-bcg {
//     width: 650px;
//     transition: all 1s ease 0s;
//     & li {
//         display: block;
//         position: relative;
//     }
//     & a {
//         display: inline-block;
//         color: #ffffff;
//         position: absolute;
//         top: 50%;
//         transform: translateY(-50%);
//         margin-left: 50px;
//         font-size: 25px;
//     }
//     & li:hover {
//         display: block;
//         background: black;
//         transition: all 1s ease 0s;
//     }
//     & li:hover svg {
//         fill: hotpink;
//     }
// }

// .menu {
//     width: 100%;
//     height: 100vh;
//     position: absolute;
//     top: 50%;
//     left: 50%;

//     overflow: hidden;
// }
// .menu__bcg {
//     background-image: url(yumi.jpg);
//     background-repeat: no-repeat;
// }
// .container {
//     width: 100px;
//     transition: all 2s ease 0.1s;
//     &:hover {
//         width: 300px;
//     }
//     &:hover .menu__content ul a {

//     }

// }
// .menu__content ul a {

// }
// .menu__content-bcg {
//     background-color: hotpink;
// }
// .menu__content {
//     height: inherit;
//     padding: 25px 0px;
// }
// .menu__content ul li {
//     list-style-type: none;
//     padding: 10px 0px 10px 25px;
//     font-size: 18px;
//     font-family: Arial, Helvetica, sans-serif;

// }

// }
// .nav {
//     z-index: 100;
// }
