$indie_flower_cursive: "Indie Flower", cursive;
$color_white: #ffffff;
$color_aqua: aqua;

body {
    display: flex;
    justify-content: center;
    background-image: url("/image/firstnew.jpg");
    background-size: 25%;
    background-attachment: fixed;
}
.container {
    margin-top: 150px;
    width: 700px;
    background-color: $color_white;
    border-radius: 10px;
    box-shadow: 0px -5px 15px 10px rgb(6, 233, 233);
}
h1 {
    font-family: $indie_flower_cursive;
    margin-top: -10px;
    padding: 10px;
    font-size: 40px;
    letter-spacing: 2px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #fd90a5;
    color: #fac63c;
    text-shadow: red 1px 1px 1px;
}
.add-form {
    form {
        display: flex;
        margin: 20px 30px;
        outline: none;
        transition: all 1s ease;
        position: relative;

        input {
            flex-grow: 1;
            height: 50px;
            font-family: $indie_flower_cursive;
            font-size: 20px;
            color: rgb(234, 0, 255);
            background-color: #e8f0fd;
            border: 1px solid rgb(6, 233, 233);
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            outline: none;

            &:hover {
                background-color: #d3d9ffc4;
            }
            &:focus {
                border: none;
                border-bottom: 2px solid $color_aqua;
            }
            &:focus ~ label {
                margin: -35px 0px 0px -25px;
                letter-spacing: 2px;
                font-size: 15px;
                color: #83c3e0;
            }
        }
        label {
            position: absolute;
            top: 50%;
            left: 20%;
            transform: translate(-50%, -50%);
            color: rgb(255, 144, 199);
            font-family: $indie_flower_cursive;
            font-size: 18px;
            font-weight: bold;
            pointer-events: none;
            transition: all 0.5s ease;
        }

        button[type="submit"] {
            width: 60px;
            height: 54px;
            margin-left: 5px;
            color: $color_white;
            background-color: rgb(6, 233, 233);
            border: none;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            outline: none;

            .icon-plus {
                display: inline-block;
                width: 1em;
                height: 1em;
                stroke-width: 0;
                stroke: currentColor;
                fill: currentColor;
                margin-top: 4px;
                width: 0.7857142857142857em;
            }
        }
    }
}

.todo-list {
    ol {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        padding: 0px;

        li {
            width: 85%;
            padding: 8px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;
            background-color: #fd90a5;
            border-bottom: 1px solid #fd90a5;
            border-radius: 10px;
            background-color: #f3ffa263;
            margin-bottom: 10px;

            span {
                font-family: $indie_flower_cursive;
                font-size: 28px;
                line-height: 25px;
                letter-spacing: 2px;
                color: #fac63c;
                text-shadow: red 1px 1px 1px;
            }
            input[type="checkbox"] {
                margin-left: 10px;
                &:checked + span {
                    text-decoration: line-through;
                }
            }

            .delete-btn {
                background: none;
                border: none;
                outline: none;

                .icon-bin2 {
                    color: $color_aqua;
                    width: 15px;
                    height: 15px;
                    margin-right: 15px;
                }
            }
        }
    }
}


// html,
// body {
//     margin: 0;
//     padding: 0;
// }

// body {
//     background: rgb(5, 0, 93);
//     background: linear-gradient(90deg, rgba(5, 0, 93, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);

//     display: flex;
//     justify-content: center;
//     align-items: center;

//     height: 100vh;
// }

// .container {
//     background: #ffffff;
//     padding: 24px;

//     height: 50%;

//     width: 500px;
//     border-radius: 5px;
//     box-shadow: 5px 5px 20px black;
//     display: flex;
//     flex-direction: column;
// }

// .add-form {
//     form {
//         display: flex;
//         margin-bottom: 20px;

//         input {
//             flex-grow: 1;
//             height: 32px;
//             border: none;
//             border-bottom: solid grey 2px;
//             outline: none;
//         }

//         button[type="submit"] {
//             margin-left: 10px;
//             width: 38px;
//             border: none;
//             background: #00d4ff;
//             color: white;
//             border-radius: 5px;
//         }
//     }
// }

// .todo-list {
//     flex-grow: 1;
//     overflow-y: auto;
//     margin-bottom: 20px;

//     ol {
//         list-style-type: none;
//         margin: 0;
//         padding: 0;

//         li {
//             display: flex;

//             .delete-btn,
//             .edit-btn {
//                 border: none;
//                 background: none;
//             }

//             &.checked {
//                 span {
//                     text-decoration: line-through;
//                 }
//             }
//         }
//     }
// }

// .delete-checked {
//     &-wrapper {
//         display: flex;
//         justify-content: flex-end;
//     }
// }

// .todo-list ol li {
//     flex-grow: 1;
// }

