table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

.pagination a {
    padding: 5px 16px;
    text-decoration: none;
    color: blue;
    display: inline-block;
}

.pagination a:active {
    color: #ffffff;
    background-color: blue;
}
