.parent {
    background-color: cornflowerblue;
    width: 500px;
    height: 120vh;
    position: relative;
    margin-top: 100px;
    z-index: 10;
}

.child1 {
    background-color: rgb(120, 189, 74);
    width: 100px;
    height: 100px;
}

.child2 {
    background-color: rgb(121, 24, 11);
    width: 100px;
    height: 100px;
    position: absolute;
    top: 200px;
    left: 200px;
}

.child3 {
    background-color: rgb(145, 21, 150);
    width: 100px;
    height: 100px;
    position: fixed;
}

.child4{
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    top: 100px;
    left: 308px;
    position: sticky;
}